{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">back to list</a>

    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}


    <h2>Commentaires</h2>
    <table class="table">
        <tbody>
        {% for comment in comments %}
            <tr>
                <th>Commentaire de {{ comment.user.email }}</th>
                <td>{{comment.comment}}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{comment.rate}}/5</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Ajouter un commentaire</h3>
    {% if app.user %}
        {{ form_start(formComment) }}
        {{ form_widget(formComment) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(formComment) }}
    {% else %}
        <p>Veuillez <a href="{{ path('login') }}">Vous connecter</a> pour poster un commentaire.</p>
    {% endif %}
    <a class="btn btn-warning mt-5" href="{{ path('app_index') }}">Retour à l'accueil</a>




{% endblock %}
